html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Container  do post */
.post-show {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 35px;

}

/*  cards */
.post-card {
    border-radius: 8px;
    padding: 30px;
    flex: 1;
    min-width: 280px;

}


.image-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Card text */
.content-card h1,
.content-card h2 {
    color: #333;
    margin-bottom: 10px;
}

.content-card p {
    color: #555;
    margin-bottom: 10px;
}

/* Botão personalizado */
.content-card a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
    opacity: 55%;
}

.content-card a.btn:hover {
    background: #0056b3;
    opacity: 55%;
}